// Import page-specific CSS files here.
@import "home";
.flats-container {
  display: flex;
}

.flat {
  height: 300px;
  margin-bottom: 18px;
  flex: 1;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.05); 
  box-shadow: 0px 4px 8px #888888;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h5 {
  font-size: 16px;
  font-weight: bold;
}

.flat-name {
  padding: 12px;
}

.card-flat-pic {
  height: 120px;
}

.header-pic {
  height: 200px;
  width: 100%;
  margin-bottom: 12px;
}

.flat-description {
  padding: 4px 12px;
  color: grey;
  font-size: 12px;
}

.details {
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
}

.details p {
  padding: 0;
  margin: 0;
  line-height: 12px;
  font-size: 12px;
}

.flat-link {
  background-color: white;
  padding: 4px 12px;
}